body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 20px;
}

.timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer div label {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
}

input[type='datetime-local'] {
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 2px solid #575e66;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

button {
  padding: 5px 15px;
  font-size: 16px;
  background-color: #3a3c3f3f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
